{% extends 'base_advert.html.twig' %}
{% block title %}
    {{ parent() }} - accueil
{% endblock %}

{% block advert_body %}
    <h2 class="text-center">Liste des annonces publiées ces {{ days }} derniers jours</h2>
    <p class="text-center">Il y a {{ lastDaysAdverts|length }} annonces</p>
    <ul>
        {% for advert in lastDaysAdverts %}
            <li>
                <a href="{{ path('advert_show', {'id': advert.id, 'slug': advert.slug}) }}">
                    {{ advert.title }}
                </a>
                {#                par {{ advert.author.firstName~ ' ' ~ advert.author.lastName }},#}
                par {{ advert.author.fullName }},
                le {{ advert.createdAt ? advert.createdAt|date('d/m/Y à H:i') : '' }}
            </li>
        {% else %}
            <li class="text-center">Il n'y a eu aucune publication !</li>
        {% endfor %}
    </ul>

{% endblock %}